body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.parallax {
    background-attachment: fixed;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    background-image: url("mi.png");
}

.img2 {
    background-image: url("so.png");
}

.static-block {
    height: 400px; 
    background-color: black;
    color: white;
    
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
}