body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}


.card-container {
    background-color: rgb(217, 248, 189);
    width: 300px;
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    text-align: center;
}

.card-title {
    color: #27570e;
    margin-top: 0;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 55%; 
    object-fit: cover;
    margin-bottom: 15px;
    border: 6px solid #136b19;
}

.info-table {
    width: 100%;
    border-collapse: collapse; 
    border: none; 
    margin-bottom: 15px;
}

.info-text {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.social-icon {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

.btn:hover {
    background-color: #333;
    transform: translateY(-5px) translateX(2px); 
}

.btn:active {
    background-color: #295087;
    transform: translateY(2px) translateX(0px); 
}