body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s; 
}

.btn{
    padding: 15px 50px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.289);
    font-size: 24px;
    cursor: pointer;
    border-radius: 40px;
}

.btn:hover {
    background-color: #000000;
    color: white ;
    border: none;
    transform: translateY(-5px);
} 

.btn:active {
    background-color: #25282b9d;
    border: none;
    transform: translateY(1px);
} 