body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;       
    height: 100vh;     
    border-collapse: collapse; 
}

td {
    border: 2px solid black;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.left-col { background-color: rgb(26, 154, 26); }
.right-col { background-color: rgb(237, 233, 17); }